.flatCard-main {
   width: 80%;
   padding: 1rem;
   box-shadow: var(--box-shadow);
   border-radius: 5px;
}
#dark .flatCard-main {
   box-shadow: var(--box-shadow-dark);
}

@media (max-width : 600px) {
   .flatCard-main {
     width: 100%;
   }
}