{
  "singleQuote": true,
  "arrowParens": "always",
  "semi": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf"
}
