#home {
  padding: 0;
}

.hero-main-cont {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  align-self: start;
  margin-top: 6rem;
  justify-content: center;
  box-shadow: var(--inset-box);
  border-radius: 20px;
}

#dark .hero-main-cont {
  box-shadow: var(--inset-box-dark);
}

.hero-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 144rem;
  overflow: hidden;
  transition: var(--transition);
}

.hero-main-text {
  font-size: 5.4rem;
}

.hero-img {
  width: 100%;
}

.hero-sub-cont-1 {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.8rem;
  gap: 1rem;
  flex: 1;
}

.hero-subtext {
  color: var(--black);
  display: flex;
  gap: 5px;
  font-size: 1.5rem;
}

#dark .hero-subtext {
  color: var(--yellow);
}

.what_am_i {
  font-size: 2rem;
}

.head-span-text {
  color: var(--alt-text);
  font-size: 1.3rem;
}
.btn {
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}
#dark .btn {
  box-shadow: var(--box-shadow-dark);
}

.btn:visited,
.btn:focus {
  box-shadow: var(--inset-box);
}

#dark .btn:visited,
#dark .btn:focus {
  box-shadow: var(--inset-box-dark);
}

.btn-div {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.wave {
  font-size: 4rem;
}

@media (max-width: 62.5em) {
  .hero-main-text {
    font-size: 3.5rem;
  }

  .hero-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5em) {
  .hero-flex {
    grid-template-columns: 1fr;
    padding: 4rem 0 0;
  }

  .wave {
    font-size: 2rem;
  }

  .hero-main-text {
    font-size: 2.5rem;
  }
  x .what_am_i {
    font-size: 1.5rem;
  }

  .hero-subtext {
    font-size: 1.2rem;
  }
}
