.contact-form-cont {
   background: var(--primary-text);
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 30px;
   color: var(--primary-bg);
   border-radius: inherit;
}
.purple {
   box-shadow: var(--purple-box-shadow) !important;
   z-index: 3 !important;
}
.contact-head-text {
   font-size: 40px;
   text-transform: capitalize;
}
.contact-sub-div {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
   position: relative;
   z-index: 3;
}
.contact-sub-div::after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0%;
   z-index: 1;
   border-radius: inherit;
   background: url(../../assets/teambuild.png);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: right bottom;
   opacity: .2;

}
.contact-sub-div-2 {
   flex: 1;
}
.my-form{
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 2rem;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   position: relative;
   z-index: 3;
}
.my-form::after {
   content: "";
   position: absolute;
   background: url(../../assets/hero.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   height:  100%;
   border-radius: 5px;
   z-index: -1;
   opacity: 0.2;
   padding: 2rem;
}
.form-div {
   display: flex;
   flex-direction: column;
   position: relative;
}
.form-div label {
   position: absolute;
   top: -25px;
   left: 10px;
   width: max-content;
   padding: .5rem 24px .2rem;
   background: var(--primary-text);
}
.form-div input, .form-div textarea {
   border: none;
   outline: none;
   box-shadow: var(--purple-inset-box);
   padding: 1.5rem;
   border-radius: 5px;
   background: inherit;
   color: var(--primary-bg);
   font-size: 13px;
}
.form-div input:focus .form-div textarea:focus {
   outline: none;
   background: inherit;
}
.submit-btn {
   width: max-content;
   box-shadow: var(--purple-box-shadow) !important;
   padding: 1rem 32px !important;
   background: var(--primary-text) !important;
   color: var(--primary-bg) !important;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
.Message-me {
   text-align: right;
   padding: 2rem 2rem 1rem;
   font-size: 18px;
}

.contact-links, #dark .contact-links {
   background-color: var(--primary-bg);
   box-shadow: var(--purple-box-shadow);
}
.alt-text-yellow {
   color: var(--yellow);
}

/* ===========THANK YOU PAGE STYLING ========== */
.thank-you {
   background: url(../../assets/good.png);
   background-repeat: no-repeat;
   background-position-x: 100%;
   background-size: contain;
   background-color: var(--yellow);
   border-radius: inherit;
   padding: 1rem;
   text-align: center;
   overflow: hidden;
}
.thank-you-home {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.connect {
   display: flex;
   flex-direction: column;
}
.connect-text {
   text-align: left;
   font-size: 20px;
   font-weight: bold;
   z-index: 4;
}
.thank-you-desc {
   z-index: 3;
   font-size: 18px;
}
.center-div {
   display: flex;
   justify-content: center;
}
#name {
   text-transform: capitalize;
}
#email {
   text-transform:lowercase;
}

/* ----------THANK YOU PAGE STYLING END ========== */
@media (max-width : 900px) {
   .contact-form-cont {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 3rem 1rem;
      display: block;
   }
   .contact-sub-div {
      justify-content: center !important;
      text-align: center !;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      gap: 2rem;
      text-align: center;
      margin-bottom: 48px;
   }
   .center-it {
      justify-content: center;
      text-align: center;
   }
   .my-form {
      padding: 1rem !important;
   }
   .purple {
      margin: auto;
   }
      .contact-head-text {
      font-size: 30px;
   }
   .connect {
      justify-content: center;
      width: 100%;
   }
   .connect-text {
      text-align: center;
   }
   .Message-me {
      font-size: 14px;
   }
}
@media (max-width : 600px) {
   .Message-me {
      font-size: 12px;
      padding: 1rem;
   }
}

