.nav-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 1.5rem;
  user-select: none;
  position: sticky;
  top: 0;
  background: var(--primary-bg);
  left: 0;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  z-index: 100;
}

#dark .nav-cont {
  background: var(--primary-bg-dark);
  box-shadow: var(--box-shadow-dark);
}

.logo_img {
  height: 5rem !important;
  width: 5rem !important;
  padding: 0 !important;
  border-radius: 50%;
  z-index: 2;
}

.logo_text {
  padding: 0 5px 0 3rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
  margin-left: -3rem;
  border-radius: 5px;
}

#dark .logo_text {
  box-shadow: var(--box-shadow-dark);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.active {
  box-shadow: var(--inset-box) !important;
  border-radius: 1rem 3rem 1rem 3rem;
}

.links-container {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  transition: var(--transition);
}

.links {
  padding: 0.5rem 0.8rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

#dark .links {
  box-shadow: var(--box-shadow-dark);
}

.links:focus,
.links:active {
  box-shadow: var(--inset-box);
}

#dark .links:focus,
#dark .links:active {
  box-shadow: var(--inset-box-dark);
}

.tab-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 62.5em) {
  .tab-icon {
    display: flex;
    z-index: 10;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    font-size: 15px;
    border-radius: 5px;
    transition: var(--transition);
    font-weight: 900;
  }

  #dark .tab-icon {
    box-shadow: var(--box-shadow-dark);
  }

  .dark-tab-icon {
    box-shadow: var(--inset-box) !important;
  }

  #dark .dark-tab-icon {
    box-shadow: var(--inset-box-dark) !important;
  }

  .links-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    top: 6.3rem;
    right: 0%;
    width: 100%;
    background: var(--primary-bg);
    opacity: 0;
    transform: translateY(-200%);
    transition: var(--transition);
    padding: 2rem;
    box-shadow: var(--box-shadow);
  }

  #dark .links-container {
    background: var(--primary-bg-dark);
    box-shadow: var(--box-shadow-dark);
  }

  .show-tab {
    opacity: 1;
    transform: translateY(0);
    z-index: 50 !important;
  }

  .links {
    width: 50%;
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: 37.5em) {
  .nav-cont {
    padding: 0.5rem 0.9rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logo_img {
    height: 4rem;
    width: 4rem;
  }

  .links-container {
    top: 56px;
  }

  .links {
    width: 90vw;
    justify-content: flex-start;
    border-radius: 0;
  }
}
