.card-image-div {
   width: 450px;
   margin: 0;
   max-height: 400px;
   padding: 5px;
   box-shadow: var(--box-shadow);
   border-radius: 7px;
}

#dark .card-image-div {
   box-shadow: var(--box-shadow-dark);
}

.card-img {
   width: 100%;
   height: 100%;
}

@media (max-width : 600px) {
   .card-image-div {
      width: 100%;
      height: auto;
   }
}