

body {
  color: var(--primary-text);
  font-family: 'Poppins', sans-serif;
}

body #light {
  background: var(--primary-bg);
  background-image: url(../public/assets/bgdark.png);
  background-size: contain;
  padding: 16px;
  transition: var(--transition);
}

body #dark {
  background: var(--primary-bg-dark);
  background-image: url(../public/assets/bgdark.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 16px;
  backdrop-filter: blur(100%) ;
  transition: var(--transition);
}
.max-width {
  max-width: 1440px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  height: 3px;
  background: var(--primary-text);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}