

body {
  color: var(--primary-text);
  font-family: 'Poppins', sans-serif;
}

body #light {
  background: var(--primary-bg);
  background-image: url(../public/assets/bgdark.png);
  background-size: contain;
  padding: 16px;
  transition: var(--transition);
}

body #dark {
  background: var(--primary-bg-dark);
  background-image: url(../public/assets/bgdark.png);
  background-size: contain;
  padding: 16px;
  backdrop-filter: blur(100%) ;
  transition: var(--transition);
}
