:root {
  --primary-bg : #e0e0e0;
  --primary-text : #7d44a8;
  --alt-text : #1a5fb4;
  --box-shadow : 5px 5px 10px #b5b5b5,  -2px -2px 10px #fff;
  --inset-box : inset 5px 10px 8px #b5b5b5, inset -5px -5px 8px #d8cccc;
  --transition : all .8s ease-in-out;
  --black : #636363;
  --purple-box-shadow: 1px 1px 10px #301645, -1px -1px 10px #7e45aa;
  --purple-inset-box: inset 1px 1px 10px #44255c, inset -1px -1px 10px #7e45aa;
  --white : #e4d8d8;
  --yellow : #fabb37;

  /* DARK THEME VARIABLE */
  --primary-bg-dark : #372c2c;
  --box-shadow-dark : 5px 5px 10px #211c1c,  -2px -2px 10px #1e1c1c;
  --inset-box-dark : inset 5px 1px 15px #201c1c, inset -3px -5px 15px #1e1c1c;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ====== TOGGLE SWITCH STYLING ====== */
#dark .react-switch-bg{
  background-color: var(--primary-bg-dark) !important ;
  border: 2px solid var(--primary-text) !important;
  transition: all .2s linear !important;
}
#dark .react-switch-handle{
  background-color: white !important;
  border: 2px solid var(--primary-text) !important;
  border-left: 2px solid var(--primary-bg) !important ;
  box-shadow: none !important;
  color: red;
}
#light .react-switch-bg{
  background-color: var(--primary-text) !important ;
  border: 2px solid var(--primary-text) !important;
  transition: all .2s step-end !important;
}
#light .react-switch-handle{
  background-color: white !important;
  border-bottom: 2px solid var(--white)!important;
  border-top: 2px solid var(--white)!important;
  border-right: 2px solid var(--primary-bg) !important ;
  border-left: 2px solid var(--primary-text)!important;
  box-shadow: none !important;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 3rem 0;
}
@media (min-width : 1440px) {
  section {
    padding: 5rem 0 5rem;
    height: max-content !important;
  }
}
@media (max-width : 1440px) {
  section {
    min-height: 100vh;
    padding: 5rem 2rem;
  }
}
@media (max-width : 600px) {
  .react-switch-bg {
    width: 50px !important;
  }
  .react-switch-handle {
    width: 20px !important;
    height: 20px!important;
    top: 0px !important;
  }
  .react-switch-bg, .react-switch-handle,  .react-switch-bg > div, .react-switch-handle > div {
    height: 20px !important;
    color: red !important;
  }
  .react-switch-handle > div  {
    top: -10px !important;
    color: red !important;
  }
  section {
    padding: 3rem 0;
  }
}
